### Gauri Purandare - Task 2

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
from tensorflow import keras
import datetime
from datetime import datetime

In [2]:
data = pd.read_csv(r"C:\Users\gauri\Documents\JPMC - Quantitative Researcher\Nat_Gas.csv")

In [3]:
print(data)

       Dates  Prices
0   10/31/20   10.10
1   11/30/20   10.30
2   12/31/20   11.00
3    1/31/21   10.90
4    2/28/21   10.90
5    3/31/21   10.90
6    4/30/21   10.40
7    5/31/21    9.84
8    6/30/21   10.00
9    7/31/21   10.10
10   8/31/21   10.30
11   9/30/21   10.20
12  10/31/21   10.10
13  11/30/21   11.20
14  12/31/21   11.40
15   1/31/22   11.50
16   2/28/22   11.80
17   3/31/22   11.50
18   4/30/22   10.70
19   5/31/22   10.70
20   6/30/22   10.40
21   7/31/22   10.50
22   8/31/22   10.40
23   9/30/22   10.80
24  10/31/22   11.00
25  11/30/22   11.60
26  12/31/22   11.60
27   1/31/23   12.10
28   2/28/23   11.70
29   3/31/23   12.00
30   4/30/23   11.50
31   5/31/23   11.20
32   6/30/23   10.90
33   7/31/23   11.40
34   8/31/23   11.10
35   9/30/23   11.50
36  10/31/23   11.80
37  11/30/23   12.20
38  12/31/23   12.80
39   1/31/24   12.60
40   2/29/24   12.40
41   3/31/24   12.70
42   4/30/24   12.10
43   5/31/24   11.40
44   6/30/24   11.50
45   7/31/24   11.60
46   8/31/24   11.50
47   9/30/24   11.80

In [4]:
data.rename(columns={"Dates": "ds", "Prices": "y"}, inplace=True)
data["ds"] = pd.to_datetime(data["ds"], infer_datetime_format=True)

In [5]:
data.head(10)

          ds      y
0 2020-10-31  10.10
1 2020-11-30  10.30
2 2020-12-31  11.00
3 2021-01-31  10.90
4 2021-02-28  10.90
5 2021-03-31  10.90
6 2021-04-30  10.40
7 2021-05-31   9.84
8 2021-06-30  10.00
9 2021-07-31  10.10

In [6]:
def contract(prices, injection_date, withdrawal_date, i_rate, w_rate, max_storage, storage_cost, i_cost, w_cost, transport):
    
    current_contract_value = 0
    current_gas = 0
    for idate in injection_date:
        date = datetime.strptime(idate, '%m/%d/%y')
        price = prices.loc[prices['Dates'] == date, 'Prices'].values
        if price.size == 0:
            continue
            
        i_gas = min(i_rate, max_storage - current_gas)
        current_gas += i_gas
        cost = i_gas * price[0] + i_gas * i_cost + transport
        current_contract_value -= cost  
                
    for wdate in withdrawal_date:
        date = datetime.strptime(wdate, '%m/%d/%y')
        price = prices.loc[prices['Dates'] == date, 'Prices'].values
        if price.size == 0:
            continue
            
        w_gas = min(w_rate, current_gas)
        current_gas -= w_gas
        revenue = w_gas * price[0] - w_gas * w_cost - transport
        current_contract_value += revenue 
    
        num_months = len(set(injection_date + withdrawal_date))
        current_contract_value -= num_months * storage_cost
        
        
        return current_contract_value

In [11]:
df = {'Dates': pd.to_datetime(['07/01/25','08/01/25','12/01/25']), 'Prices': [3.00, 3.10, 4.50]}

prices = pd.DataFrame(df)

injection_date = ['07/01/25','08/01/25'] 
withdrawal_date = ['12/01/25'] 

i_rate = 500000 
w_rate = 1000000  
max_storage = 1000000 
storage_cost = 100000  
i_cost = 0.02  
w_cost = 0.03  
transport = 50000  

final_contract = contract(prices, injection_date, withdrawal_date, i_rate, w_rate, max_storage,storage_cost, i_cost, w_cost, transport)

print(f"Estimated Contract Value: ${final_contract: }")

Estimated Contract Value: $ 950000.0