In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
from tensorflow import keras

In [2]:
data = pd.read_csv(r"C:\Users\gauri\Documents\JPMC - Quantitative Researcher\Task 3 and 4_Loan_Data.csv")

In [3]:
print(data)

      customer_id  credit_lines_outstanding  loan_amt_outstanding  \
0         8153374                         0           5221.545193
1         7442532                         5           1958.928726
2         2256073                         0           3363.009259
3         4885975                         0           4766.648001
4         4700614                         1           1345.827718
...           ...                       ...                   ...
9995      3972488                         0           3033.647103
9996      6184073                         1           4146.239304
9997      6694516                         2           3088.223727
9998      3942961                         0           3288.901666
9999      5533570                         1           1917.652480

      total_debt_outstanding       income  years_employed  fico_score  default
0                3915.471226  78039.38546               5         605        0
1                8228.752520  26648.43525               2         572        1
2                2027.830850  65866.71246               4         602        0
3                2501.730397  74356.88347               5         612        0
4                1768.826187  23448.32631               6         631        0
...                      ...          ...             ...         ...      ...
9995             2553.733144  42691.62787               5         697        0
9996             5458.163525  79969.50521               8         615        0
9997             4813.090925  38192.67591               5         596        0
9998             1043.099660  50929.37206               2         647        0
9999             3050.248203  30611.62821               6         757        0

[10000 rows x 8 columns]

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               10000 non-null  int64
 1   credit_lines_outstanding  10000 non-null  int64
 2   loan_amt_outstanding      10000 non-null  float64
 3   total_debt_outstanding    10000 non-null  float64
 4   income                    10000 non-null  float64
 5   years_employed            10000 non-null  int64
 6   fico_score                10000 non-null  int64
 7   default                   10000 non-null  int64
dtypes: float64(3), int64(5)
memory usage: 625.1 KB

In [5]:
data.head(5)

,customer_id,credit_lines_outstanding,loan_amt_outstanding,total_debt_outstanding,income,years_employed,fico_score,default
0,8153374,0,5221.545193,3915.471226,78039.38546,5,605,0
1,7442532,5,1958.928726,8228.752520,26648.43525,2,572,1
2,2256073,0,3363.009259,2027.830850,65866.71246,4,602,0
3,4885975,0,4766.648001,2501.730397,74356.88347,5,612,0
4,4700614,1,1345.827718,1768.826187,23448.32631,6,631,0

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score, precision_score, recall_score, f1_score, roc_auc_score

In [7]:
X = data.drop(columns=['customer_id', 'default'])  
y = data['default']                 

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=42)
model.fit(X_train, y_train)

RandomForestClassifier(max_depth=5, random_state=42)

In [8]:
y_pred = model.predict_proba(X_test)[:, 1] 

print(classification_report(y_test, model.predict(X_test)))

auc_score = roc_auc_score(y_test, y_pred)
print(f"AUC-ROC Score: {auc_score: }")

              precision    recall  f1-score   support

           0       0.99      1.00      0.99      1652
           1       0.99      0.96      0.98       348

    accuracy                           0.99      2000
   macro avg       0.99      0.98      0.99      2000
weighted avg       0.99      0.99      0.99      2000

AUC-ROC Score:  0.9993233558765411

In [9]:
recovery_rate = 0.10
loss_rate = 1 - recovery_rate 

Expected_Loss = (y_pred * loss_rate * X_test['loan_amt_outstanding']).sum()

loan_amount = X_test['loan_amt_outstanding'].sum()
expected_loss_percentage = (Expected_Loss / loan_amount) * 100

print(f"Total Expected Loss: ${Expected_Loss:}")
print(f"Percentage of Expected Loss: {expected_loss_percentage: } %")

Total Expected Loss: $1435985.0451553336
Percentage of Expected Loss:  17.254054614399124 %